body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

p {
    font-size: 25px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping of items */
    justify-content: center; /* Center items */
}

div {
    display: flex;
    flex-direction: column; /* Stack image and label */
    align-items: center; /* Center items */
    margin: 5px;
}

/* Base styles for images */
img {
    width: 150px;
    height: auto; /* Maintain aspect ratio */
}

/* Tablet View */
@media screen and (min-width: 772px) {
    div {
        width: 45vw; /* 45% of viewport width */
    }

    img {
        max-height: 30vh; /* Max height for images */
    }
}

/* Large Screen View */
@media screen and (min-width: 998px) {
    div {
        width: 30vw; /* 30% of viewport width */
    }
}
